body {
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #5A2D6C;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

h1 {
    font-size: 24px;
}

label {
    font-weight: bold;
}

p{
    font-size: 14px;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccd6dd;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

textarea {
    resize: none;
}

button {
    background-color: #733E89;
    color: #fff;
    border: none;
    border-radius: 50px;
    width: 7rem;
    height: 2.5rem;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #8E35B2;
}

ul {
    list-style-type: none;
    padding: 0;
}

#postList{
    text-align: center;
}

.aside-e-cards{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 95%;

    #cardForm{
        width: 25rem;
        margin-top: 0.9rem;
    }

    .card-jogadoras{
        display: flex;
        flex-direction: column;
        align-items: center;

        #cardList{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 3rem;

            .card-post{
                background-color: #f2f2f2f3;
                width: 17rem;
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .btn-edicao{
                    margin: 0.5rem 0rem 1rem 0rem;
                }

                .posicao-clube{
                    display: flex;
                    gap: 0.5rem;
                    align-items: center;
                    width: 100%;
                    justify-content: center;

                    hr{
                        height: 1rem;
                        margin: 0;
                    }
                }

                .imagem-jogadora{
                    width: 10rem;
                    border-radius: 5px;
                    margin: 0.5rem;
                }

                .informacoes-jogos{
                    display: flex;
                    gap: 1rem;
                    width: 100%;
                    justify-content: center;
                    align-items: center;

                    hr{
                        height: 3rem;
                        margin: 0;
                    }

                    .informacao-gols{
                        text-align:right;
                    }
                }
            }
        }
    }
}

